<ion-content [fullscreen]="true">
  <!-- header section starts -->
  <ion-header class="ion-text-center">
    <ion-toolbar>
      <img src="../../assets/logo-with-text.png" alt="" srcset="">
    </ion-toolbar>
  </ion-header>
  <!-- header section finish -->


  <!-- track list section start -->
  <ion-grid class="track-list">
    <ion-row>

      <h5 class="section-heading">My DOwnloads</h5>
      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>


      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">

          <span class="play-btn">
            <img src="../../assets/download-play.png" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/option.png" alt="" srcset="">
          </span>
        </div>
      </div>

    </ion-row>
  </ion-grid>

  <!-- track list section finish -->
</ion-content>