@font-face {
  font-family: 'Carrois Gothic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic SC'), local('CarroisGothicSC-Regular'), url(http://fonts.gstatic.com/s/carroisgothicsc/v4/bVp4nhwFIXU-r3LqUR8DSNce8QJcbznVYyCETTx3XZM.woff) format('woff');
}
