@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900|Playfair+Display+SC:400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i,900,900i');
/*font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Playfair Display SC', serif; */
.border{border: solid 83px #fff; -webkit-transition:all .1s ease-in;  -ms-transition:all .1s ease-in; -moz-transition:all .1s ease-in; transition:all .1s ease-in; width:100%; height:100%; position:fixed; left:0; top:0; border:solid 90px transparent; z-index:2}
.hello-section{padding: 2% 0;}
header{margin: 4% 0; position:fixed; left:0; top:0; z-index:10;}
header img{display: inline-block;}
.hello-text{ margin: 7% 0 0 0;  }
.hello-text:before{content:'Hello'; font-family: 'Montserrat', sans-serif; font-size: 9em; color:rgba(17, 20, 47, 1); font-weight: 700}
.hello-text .fas{color:#ffcf00; font-size: 2em}
.work-section{float: left;}
.section{float: left; width: 100%; position: relative; padding:10% 0;}
.work{float: left; height: 100%; /*background: url(img/work-bg.jpg) top center no-repeat; background-attachment: fixed;*/ padding: 12.15% 0}
h1{ color: #fff; font-weight: bold; font-family: 'Montserrat', sans-serif; font-size: 3em; line-height:1.3em}
p{font-size: 18px; color: #fff; font-family: 'Playfair Display', serif; }
.work-section p{margin-top: 30px; float: left; width: 100%}
.work-cremica{float: left; height: 100%; background: url(img/work-cremica.jpg) top center no-repeat; background-attachment: fixed; padding: 12.15% 0}
/*
body.no-bg{background:#fff;}*/
/*.demo-page-2{background: url(img/work-bg.jpg) left top no-repeat; opacity:0} 
.demo-page-3{background: url(img/work-cremica-bg.jpg) top center no-repeat; opacity:0 }
*/
.pimage{float:left; position:fixed; height:100%; background-repeat:no-repeat; background-position:center center; width:100%; 
-webkit-transition:opacity 3s ease-in; 
    -ms-transition:opacity 3s ease-in; 
   -moz-transition:opacity 3s ease-in; 
        transition:opacity 3s ease-in;}
.white-bg{background:#fff;}
.Transforming{background-image:url(img/work-bg.jpg);}
.Revamping{background-image:url(img/work-cremica-bg.jpg);}
.op-0{opacity:0;}
.op-1{opacity:1;}

