body {
  header {
    width: 100%;
    position: relative;
    z-index: 3;
    nav.fixed-top {
      padding: 0 !important;
      transition: all 0.3s ease-in-out;
      
      .left-icon {
        background: $primary-color;
        a {
          padding: 28px 43px;
          font-family: $aktiv-regular;
          font-size: 13px;
          letter-spacing: 1.3px;
          text-transform: uppercase;
          color: #c59db0;
          line-height: 17px;
									@media #{$lg}{
										padding: 19px 28px 18px 20px;
									} 
									@media #{$sm} {
            padding:20px 23px;
          }
          img {
            margin-right: 15px;
											float: left;
          }
        }
      }
      ul.navbar-nav {
        margin-right: 0;
        align-items: center;
        @media #{$sm} {
          margin-left:none !important;
          flex-direction:row;
        }
        li {
          display: inline-block;
          padding: 23px 10px;
									@media #{$lg}{
										padding:18px 10px 12px 10px;
									} 
          @media #{$sm} {
            display: none;
          }
          &:last-child {
											background: $secondary-color;
											float: right;
											margin-left: 20px;
											padding: 21px 26px;
											font-family: $aktiv-regular;
											@media #{$lg}{
												padding: 15px 23px 9px 18px;
											} 
											@media #{$sm} { 
              margin-left: 0;
              display: inline;
												display: none;
            }
            a {
              font-family: $aktiv-regular;
              font-size: 13px;
              line-height: 31.15px;
              letter-spacing: 1.3px;
              text-transform: uppercase;
              color: #aeb7c7;
              img {
                margin-right: 14px;
              }
            }
          }
        }
      }
    }
    .sticky {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
