<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		html, body{
			margin:0;
			padding:0;
		}
		@media (max-width:654px) {
			.email-wrapper {
				width: 100% !important;
			}
			.main-table-division{
				padding:15px 25px !important;
			}
		}
		@media (max-width:500px) {
			.image-container{
				margin-top: 15px !important;
				margin-bottom: 8px !important;
				text-align: center;
				margin-left: 0 !important;
				width: 100%;
			}
			.top-anchors{
				text-align: center !important;
			}
			.be-my-best{
				width: 100% !important;
			}
			.footer-section{
				padding: 20px 10px 10px 10px !important;
			}
			.bottom-text{
				font-size: 14px !important;
				line-height: 1.8 !important;
			}
		}
	</style>
</head>
<body style="padding: 0; margin: 0;">
	<table width="100%" cellspacing="0" style="width: 100%" style="padding:0; margin:0;"  cellpadding="0">
		<tr align="center">
			<td style="padding:0; margin:0;">
				<table width="640" class="email-wrapper" style="width: 640px; background-color: #ffffff; margin: auto;" cellspacing="0" cellpadding="0">
					<tr>
						<td>
							<img src="{{siteUrl}}images/newsletter/header-image.png" width="100%" style="width:100%;" alt="My bright future began with...">
						</td>
					</tr>
					<tr>
						<td style="padding: 25px 70px 50px 70px;" class="main-table-division">
							<table cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
								<tr>
									<td align="right" style="text-align: right;">
											
											<p style="text-align:right;" class="top-anchors">
												<a href="{{siteUrl}}" style="padding : 20px 30px; border-radius: 5px; text-decoration : none; display : inline-block; font-family : Arial, Helvetica, sans-serif; color : #ffffff; font-size:15px; font-weight : 400; background-color : #6e0a3b; margin: 8px 0px;">Give</a>&nbsp;&nbsp;
												<a href="{{siteUrl}}" style="padding:20px 30px; border-radius: 5px; text-decoration : none;display : inline-block; font-family:Arial, Helvetica, sans-serif; color : #ffffff; font-size : 15px; font-weight : 400; background-color : #18325e;">Register</a>
											</p>

										<p style="text-align:right;" class="top-anchors">

											<a href="{{siteUrl}}" style="text-decoration : none; margin:8px 0px; ">
												<img src="{{siteUrl}}images/newsletter/give.png">
											</a>&nbsp;&nbsp;
											<a href="{{siteUrl}}" style="text-decoration : none; ">
												<img src="{{siteUrl}}images/newsletter/register.png">
											</a>
										</p>
									</td>
								</tr>
								<tr>
									<td style="padding: 25px 0; background-color: #ffffff;">
										<p style="font-family : Arial, Helvetica, sans-serif; border-radius: 5px; color : #525252; font-size : 16.5px ;font-weight : 400 ;line-height : 22px ;">
											Dear {FIRST NAME}<br>
										</p>
										<p style="font-family : Arial, Helvetica, sans-serif; border-radius: 5px; color : #525252; font-size : 16.5px ;font-weight : 400 ;line-height : 22px ;">
											The Final Hours, our first school production for 2019 returns this April and once again we will see the campus grounds of Damascus College transformed back to the middle- east of 2000 years ago to tell the tale of the last few hours of the man we call Jesus. 
										</p>
										<div style="float: right; margin:0 0 0 36px;text-align: center;" class="image-container">
											<img src="{{siteUrl}}images/newsletter/right-image.png" width="203" alt="My bright future began with..." style="width:203px;">
											<p style="font-family : Arial, Helvetica, sans-serif;color : #6e0a3b ;font-size : 16px ;font-weight : 400;line-height : 21px ; text-align: center;">
												Image caption text here 
											</p>
										</div>
										<p style="font-family : Arial, Helvetica, sans-serif;color : #525252 ;font-size : 16.5px ;font-weight : 400 ;line-height : 22px ;">
											For more than a quarter of a century and through fifteen individual seasons ‘The Final Hours’ has been presented at the same time of year, with the same words, same subject matter and the same music and has proudly continued to be one of College’s longest running traditions. 
										</p>
										<p style="font-family : Arial, Helvetica, sans-serif;color : #525252 ;font-size : 16.5px ;font-weight : 400 ;line-height : 22px ;">
											The production is the proclamation of our identity as a Catholic school by the dramatic retelling of one of the Gospel’s central stories and at the same time actively serving our College motto to ‘Live by the light of Christ’  
										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#16325c" align="center" style="background-color: #16325c; text-align: center; border-bottom:1px solid #16325c;">
							<table cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
								<tr>
									<td align="center" style="text-align: center; padding:25px 0 0 0;">
										<img src="{{siteUrl}}images/newsletter/logo.png" width="105" alt="My bright future began with..." style="width:105px;">
									</td>
								</tr>
								<tr>
									<td align="center" style="text-align: center; padding:0; ">
										<img src="{{siteUrl}}images/newsletter/be-my-best.png" width="440" alt="Be My Best" style="width:440px;" class="be-my-best">
									</td>
								</tr>
								<tr>
									<td align="center" style="text-align: center;padding:0 0 25px 0;">
										<a href="https://www.damascus.vic.edu.au" style="font-family : Arial, Helvetica, sans-serif ;color : #ffffff ;font-size : 18px ;font-weight : 400 ;line-height : 31px ;text-shadow : 0px 5px 70px #18325e ; text-decoration: none;">damascus.vic.edu.au</a>
									</td>
								</tr>
							</table>
							<table cellspacing="0" cellpadding="0" width="100%" style="width:100%;border-top:1px solid #6c0838; border-bottom: 1px solid #fcc405;">
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#6d083b" align="center" style="background-color: #6d083b; text-align: center; padding:20px 20px 10px 20px;" class="footer-section">
							<a class="fb-connect" target="_blank" href="https://www.facebook.com/DamascusCollege" style="text-decoration: none;display: inline-block;">
								<img src="{{siteUrl}}images/newsletter/facebook.png" width="14" class="img-responsive" alt="Facebook" style="width: 14px;margin:0 8px;">
							</a>&nbsp;
							<a class="instagram" target="_blank" href="https://www.instagram.com/damascuscollege" style="text-decoration: none;display: inline-block;">
								<img alt="Instagram Icon" width="28" src="{{siteUrl}}images/newsletter/instagram.png" style="width: 28px;margin:0 8px;">
							</a>&nbsp;
							<a class="twitter-follow" target="_blank" href="https://www.twitter.com/damascuscollege" style="text-decoration: none;display: inline-block;">
								<img src="{{siteUrl}}images/newsletter/twitter.png" width="29" class="img-responsive" alt="Twitter" style="width: 29px;margin:0 8px;">
							</a>&nbsp;
							<a class="linkedin" target="_blank" href="https://www.linkedin.com/company/damascus-college-ballarat" style="text-decoration: none;display: inline-block;">
								<img src="{{siteUrl}}images/newsletter/linkedin.png" width="31" class="img-responsive" alt="Linkedin" style="width: 31px;margin:0 8px;">
							</a>&nbsp;
							<a class="youtube-connect" target="_blank" href="https://www.youtube.com/channel/UClhvTqdyIDBGjsZifyZrNcg" style="text-decoration: none;display: inline-block;">
								<img src="{{siteUrl}}images/newsletter/youtube.png" width="36" class="img-responsive" alt="Facebook" style="width: 36px;margin:0 8px;">
							</a>
							<p style="margin:20px 0 0 0;font-family : Arial, Helvetica, sans-serif ;color : #ffffff ;font-size : 16px ;line-height : 1.5 ;text-shadow : 0px 1px 87px rgba(26, 21, 17, 0.75) ; text-align: center;" class="bottom-text">
								<b>DAMASCUS COLLEGE LTD</b> ACN 609066775<br>
								1412 Geelong Rd, Mount Clear, Vic 3350<br>
								<a href="tel:03 5337 2222" style="text-decoration: none;color : #ffffff ;">Ph: (03) 5337 2222</a><br>
								<a href="mailto:info@damascus.vic.edu.au" style="text-decoration: none;color : #ffffff ;">info@damascus.vic.edu.au</a><br>
							</p>
							<p style="margin:10px 0 0 0;text-align: center;">
								<a href="{{siteUrl}}" style="font-family : Arial, Helvetica, sans-serif ;color : #b94e77 ;font-size : 12px ;font-weight : 400 ;line-height : 15.939px ;text-shadow : 0px 1px 87px rgba(26, 21, 17, 0.75) ; text-decoration: none;">
									Unsubscribe from future email communication
								</a>
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>