$primary-color: #0c1b51;
$secondary-color:#ffdd00;
$light-grey: #e1e2e6;
$text-color: #0c1b51;
$white-color : #fff;
$myriad-pro: 'myriad pro', sans-serif;
$popins : 'Poppins', sans-serif;
$light-blue: #7c89a9;
$catamaran: 'Catamaran', sans-serif;
$myriad-bold : 'myriad pro bold', sans-serif;
$andale-mono : 'AndaleMono', sans-serif;
//@import url('https://fonts.googleapis.com/css?family=Catamaran:100,300,400,500&display=swap');

$xs: "only screen and (max-width : 575.98px)";
$sm: "only screen and (max-width : 767.98px)";
$md: "only screen and (max-width : 991.98px)";
$lg: "only screen and (max-width : 1199.98px)";
$lg-width: "only screen and (max-width : 1499.98px)";
$xl: "only screen and (min-width : 1500px)";
$very-large-desktop: "only screen and (min-width : 1750px)";