<ion-header class="ion-text-center">
  <ion-toolbar>
    <img src="../../assets/logo-with-text.png" alt="" srcset="">
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <h2 class="section-heading">Plan info / Subscription </h2>
      <ul>
        <li> No Advertisement </li>
        <li> Create Play List</li>
        <li> Album Download</li>
        <li> Premium Albums Access</li>
      </ul>
      <div class="plan-name">
        <h2>Monthly Plan <span> $10 <em>/month</em></span></h2>
        <div class="plan-info">
          <p>Get access for one month.</p>
          <span class="link-button"> Upgrade</span>
        </div>
      </div>
      <div class="plan-name">
        <h2>Monthly Plan <span> $10 <em>/month</em></span></h2>
        <div class="plan-info">
          <p>Get access for one month.</p>
          <span class="link-button"> Upgrade</span>
        </div>
      </div>
      <div class="plan-name">
        <h2>Monthly Plan <span> $10 <em>/month</em></span></h2>
        <div class="plan-info">
          <p>Get access for one month.</p>
          <span class="link-button"> Upgrade</span>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>