<ion-content>
  <div class="login">
    <p class="text-center ion-margin-bottom"><a href="#"><img src="../../assets/Logo.png" alt="" srcset=""></a></p>
    <h1 class="page-heading mb35">Create Account</h1>

    <div class="col-md-12">
      <ion-row class="row mb25">
        <ion-input placeholder="Full Name"></ion-input>
      </ion-row>

      <ion-row class="row mb25">
        <ion-input type="email" placeholder="Email Id"></ion-input>
      </ion-row>

      <ion-row class="row mb25">
        <ion-input type="tel" pattern="[0-9]{10}" placeholder="Phone Number"></ion-input>
      </ion-row>

      <ion-row class="row mb25">
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-row>
      <ion-row class="row mb25">
        <ion-input type="password" placeholder="Confirm Password"></ion-input>
      </ion-row>

      <ion-row class="row">
        <ion-button expand="block" shape="round">Create Account</ion-button>
      </ion-row> 

    </div>
  </div>
</ion-content>