$primary-color: #6e0a3b;
$secondary-color:#18325e;
$light-grey: #dededa;
$text-color: #333;
$grey-background: #e8e8e8;
$tags-background:#18325E;
$aktiv-bold :"AktivGrotesk Bold", sans-serif;
$popins : 'Poppins', sans-serif;
$rubik : 'Rubik', sans-serif;
$aktiv-regular:"AktivGrotesk Regular", sans-serif ;
$light-pink : #c49bb0;
$white-color : #fff;
$aktiv-light: "AktivGrotesk Light", sans-serif;


$xs: "only screen and (max-width : 575.98px)";
$sm: "only screen and (max-width : 767.98px)";
$md: "only screen and (max-width : 991.98px)";
$lg: "only screen and (max-width : 1199.98px)";
$xl: "only screen and (min-width : 1500px)";
$desktop: "only screen and (min-width : 1200px)";