@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Signika:400,300,700,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
/*
    font-family: 'Signika', sans-serif;
    font-family: 'Open Sans', sans-serif;  
	font-family: 'Oswald', sans-serif;  
*/
a:focus{outline:none;}
.nav > li > a:focus{background:none;}
header{float:left; width:100%;}
.top-row{margin:1% 0;}
.top-right ul, .top-left-nav ul{float:left; padding:0; list-style:none;}
.top-row ul li{float: left; font-family: 'Signika', sans-serif; }
.top-row ul li a, .top-row ul li a{font-family: 'Signika', sans-serif; font-size: 13px; color: #707070; padding: 0 15px; font-weight:400; text-decoration:none;}
.top-left-nav ul li:first-child a{padding-left: 0;}
.top-right {text-align:right;}
.top-right ul{float:none; display:inline-block;}
.top-right .social-header{display:inline-block}
.top-row ul li a{opacity:.6;}
.top-row ul li:hover a{opacity:1;}
.navbar-brand{border-right:solid 1px #e1e1e1; height:auto; line-height:normal; padding:0 0 5px 0}
a{color:#707070; font-size:17px; font-family:Georgia, "Times New Roman", Times, serif;}
.main-nav ul{float:right;}
.main-nav ul li a{padding:10px 15px;}
.main-nav ul li:hover a{background:none; color:#000;}
.main-nav ul li.cart-box{border:solid 2px #7f7e7e; border-radius:30px;}
.main-nav ul li.cart-box a{padding-left:20px; padding-right:20px;}
.main-nav ul li.cart-box a i.fa-shopping-cart{margin-right:10px; font-size:22px;}
.main-nav ul li.cart-box a i.fa-gbp{font-weight:normal; font-size:15px;}
.main-nav ul li.cart-box a .total-amount{font-family: 'Open Sans', sans-serif; }
.slider{float:left; width:100%; margin-top:6px; margin-bottom:20px;}
.slider img{width:100%;}
.content-container{float:left; width:100%;}
.section{float:left; width:100%;}
.section.three-sec{border:solid 1px #d8d7d4; margin:2% 0 3%; padding-bottom:15px; padding-top:0; margin-bottom:2%}
.three-sec .media:first-child{margin-top:15px;}
.three-sec .media{border-right:solid 1px #d8d7d4;}
.three-sec .media:last-child{border-right:0;}
.three-sec .media .media-heading{color:#5B616B; font-family: 'Oswald', sans-serif; font-size:15px;}
.three-sec .media{font-size:12px; color:#5B616B;}
.home-prod-listing .prod-image{width:100%; float:left; height:250px; overflow:hidden;}
.home-prod-listing .prod-image img{width:100%;}
.home-prod-listing .thumbnail{border:0; padding:0; margin-bottom:30px; display:inline-block;}
.home-prod-listing .caption{padding:0}
.home-prod-listing .caption h3{margin-top:4%; float:left; width:100%; font-size:1.4em; font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold; color:#000;}
.home-prod-listing p{margin-top:3%; float:left; width:100%; font-size:16px; font-family:Georgia, "Times New Roman", Times, serif; color:#000;}
.home-prod-listing a{color:#000; margin-top:8%; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; float:left; width:100%;}
.testimonial{margin:2% 0 5%;}
.tetstimonial-sec{margin-bottom:0%}
.tetstimonial-sec p{position:relative; padding:4% 5%; color:#fff; font-size:13px; line-height:24px; margin-bottom:0}
.tetstimonial-sec .triangle-topleft {width:0; height:0; bottom:-30px; position: absolute; right: 20%;}
.green-bg p{background:#4dbb7e;}
.tetstimonial-sec p .triangle-topleft {border-top:30px solid #4dbb7e; border-right:30px solid transparent;}
.yellow-bg p{background:#ed903b;}
.tetstimonial-sec.yellow-bg .triangle-topleft {border-top:30px solid #ed903b; border-right:30px solid transparent;}
.tetstimonial-sec .media{display: inline-block; float: right; width: inherit; margin-top:4%;}
.tetstimonial-sec .media .media-heading{font-size:16px; font-family: 'Open Sans', sans-serif; font-weight:600; line-height:60px;}
.discount-coupon{border: dashed 4px #999; padding:8px 15px}
.coupons-container{margin:2% 0 3%;}
.newsletter{float:left; width:100%; background:#f6f5f2; border:solid 1px #d7d6d3; padding:10px;}
.newsletter h3 { text-transform: uppercase; float:left; margin-top:0; color: #5B616B; font-family: 'Oswald', sans-serif; font-size: 17px;}
.newsletter p {position: absolute; top: 40px;  width: 230px; font-size: 13px; color:#5B616B;}
.newsletter fieldset {border: 0; width: 210px; margin: 10px 0 0; padding: 0; float:right; }
.newsletter fieldset p {position: relative; top: 0; left: 0; width: 190px; font-size:12px; margin-bottom:0}
.newsletter fieldset input.inputtext {border: 1px solid #D7D6D3; font-size: 11px; height: 25px; width: 100%; line-height: 25px; padding: 0 5px;}
.newsletter button{float:right; background:#a8abae; color:#f6f5f2; padding:4px 10px; border:0; font-size:12px; margin-top:10px;}
.newsletter button:hover{background:#000;}
.follow-us{margin-top:10px;} 
.newsletter.follow-us p {position:static; top:auto;}
footer{float:left; width:100%; margin-top:3%;}
.footer-top{float:left; width:100%; background:#f6f6f6; padding:2% 0;}
footer h3{font-size:14px; font-family: 'Open Sans', sans-serif;  font-weight:bold; margin-top:0}
footer ul{float:left; width:100%; list-style:none; padding:0; margin:0;}
footer ul li {padding:3px 0;}
footer ul li a{font-family: 'Open Sans', sans-serif; font-size:13px; color:#000}
footer .social-links ul li{display:inline-block; padding-right:10px;}
footer .social-links ul li a{font-size:20px;}
footer .cards{padding:15px 0;}
/*----------- css for product detail page -------------*/
.breadcrumb {margin-bottom:12px;}
.breadcrumb ul {margin:0; }
.breadcrumb ul li a:after{content:'/'; color:#707070; font-size:13px; padding:0 5px 0 10px ; font-family: 'Open Sans', sans-serif;}
.breadcrumb ul li a{font-family: 'Open Sans', sans-serif; font-size:13px; text-decoration:none}
.breadcrumb ul li:last-child a:after{content:'';}
.product-name strike{text-decoration:line-through;}
.overview .product-name h1{font-size:20px; font-family:Georgia, "Times New Roman", Times, serif; margin-top:0; color:#000;}
.overview p.high-price{font-size:17px; color:#b10000; margin-bottom:0 }
.overview p.our-price{float:left; width:100%; color:#101010; font-size:20px; font-weight:normal; font-family: 'Open Sans', sans-serif; margin-bottom:3px}
.overview p.our-price em{font-size:30px; font-style:normal}
.overview p.our-price span{font-size:13px; font-weight:600; color:#b10000;}
.overview p.price strike{ font-size:17px; color:#b10000; display:inline-block; margin:0 20px 0 0;}
.product-no-reviews span{font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; color:#707070; display:inline-block; margin:0 0 0 10px;}
.product-no-reviews span:after{content:'|'; font-size:20px; margin:0 7px 0 10px}
.select-color{margin:5px 0 10px 0; float:left; width:100%;}
.select-color p{color:#000; font-size:18px; font-family:Georgia, "Times New Roman", Times, serif;} 
.select-style {padding: 0; margin: 0; border:2px solid #b8b8b8; border-radius: 0px; overflow: hidden; background-color: #fff; background: #fff url(../images/arrow.png)  no-repeat 95% 50%; margin-top:15px;}
.select-style select {padding: 5px 8px; width: 100%; border: none; box-shadow: none; background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.select-style select:focus {outline: none;}
.overview table, .overview table a{font-size:15px; font-family: 'Signika', sans-serif;}
.overview table a{text-decoration:underline;}
.addto-cart{float:left; width:100%; margin-top:20px; }
.addto-cart .big-button{padding:20px 0; float:left; padding:20px 15px; border-radius:0; font-size:20px; color:#fff; background:#4c4c4c; font-family:Georgia, "Times New Roman", Times, serif; -webkit-transition: background .2s ease-out; -moz-transition: background .2s ease-out; -ms-transition: background .2s ease-out; -o-transition: background .2s ease-out; transition: background .2s ease-out;}
.addto-cart .big-button:hover{background:#b10000; -webkit-transition: background .2s ease-out; -moz-transition: background .2s ease-out; -ms-transition: background .2s ease-out; -o-transition: background .2s ease-out; transition: background .2s ease-out;}
.addto-cart .big-button .fa{display:inline-block; padding-right:10px; font-size:24px;}
.image-gallery{float:left; width:100%;}
.section{float:left; width:100%; margin-bottom:0; padding:5% 0; border-bottom:solid 1px #b7b7b7; font-size:16px; color:#707070; font-family:Georgia, "Times New Roman", Times, serif;}
.sub-heading-new{float:left; width:100%; margin:0 0 15px 0; font-size:20px; font-family:Georgia, "Times New Roman", Times, serif; color:#000;}
.desc ul{float:left; width:100%;}
.desc ul li{background:url(../images/listing-arrow.png) left center no-repeat; font-size:16px; color:#707070; font-family:Georgia, "Times New Roman", Times, serif; padding:7px 0 7px 20px;}
.desc .table-condensed>tbody>tr>td{padding:10px 0;}
.desc p{line-height:22px; font-size:16px; color:#5a5450; float:left; width:100%; margin-bottom:20px;}
.no-border{border:0;}
.swatches{float:left; padding:20px 22px; background:#e8e8e8; max-width:100%; width:100%; margin:7% 0 3% 0;}
.swatches h2{font-size:20px; font-family:Georgia, "Times New Roman", Times, serif; color:#000; margin:0}
.swatches ul{float:left; margin:5% 0;}
.swatches ul li{float:left;}
.swatches ul li a{float:left; border:solid 1px #747474; margin:0 5px;}
.swatches ul li:first-child a{margin-left:0}
.swatches p{float:left; width:100%; text-align:center; text-decoration:underline;}
.swatches p a{font-size:14px; font-family: 'Open Sans', sans-serif;  color:#000000 }
.advertise{border:solid 1px #ccc; background:#fafafa; margin:15px 0; padding:0;}
.mobile-desc{display:none;}
.no-padding-bottom{padding-bottom:0;}
.filter-section{float:left; width:100%; margin-bottom:7px; font-size:14px; color:#707070; border-bottom:solid 1px #c2c2c2; padding-bottom:10px; margin-bottom:20px;}
.filter-section h3{font:16px; color:#707070;  margin-top:0; margin-bottom:15px; font-family:Georgia, "Times New Roman", Times, serif; font-size:18px;}
.filter-section p{float:left; width:100%;}
.filter-section:last-child{margin-bottom:0; padding-bottom:0; border:0;}
.filter-section:last-child p:last-child{margin-bottom:0;}
input.css-checkbox.sme[type="checkbox"]{margin:0; vertical-align:top; float:left;}
input.css-checkbox.sme[type="checkbox"] + label.css-label.sme{background-repeat: no-repeat; float:left; cursor:pointer; display:inline-block; font-size:17px; margin-left: 5px; margin-top: 0px; padding-left: 5px; vertical-align: top; font-family: 'Signika', sans-serif; font-weight:400; line-height:14px}
input.css-checkbox.sme[type="checkbox"]:checked + label.css-label.sme {background-position: 0 -12px;}
.pattern-sets ul li{float:left; margin:3px;}
.swatches ul li{position:relative;}
.swatches  .pattern-close{position: absolute; z-index: 10; right: 0px; top: -10px; padding: 0; margin: 0; border: 0;}
 .section.coupons-container{padding:0; border:0}
 .testimonial.section{padding-top:3%; border:0}
@media (max-width:767px) {
	.top-row{display:none;}
	.navbar{margin:15px 0 0; float:left; width:100%}
	.carousel-caption{display:none;}
	.three-sec .media{padding-bottom:15px; border-right:0; border-bottom:1px solid #d8d7d4}
	.three-sec .media:last-child{padding-bottom:0; border-bottom:0;}
	.three-sec{margin-bottom:30px;}
	.home-prod-listing a{margin-top:0;}
	.news-section{padding:0;}
	.newsletter h3{float:left; width:100%;}
	.newsletter fieldset, .newsletter p{float:left; width:100%; position:static}
	.newsletter fieldset{margin-top:0;}
	.footer-top{padding:30px 0;}
	.footer-top ul{display:none;}
	.footer-top .col-xs-12 {margin-bottom:10px;}
	.footer-top .col-xs-12:last-child{margin-bottom:0;}
	.social-links ul, .social-links h3{padding-left:0;}
	.social-links h3::after {content: "Remember this";}
	.navbar ul{float:left; width:100%;}
	.main-nav ul li.cart-box{display:none;}
	.breadcrumb{float:left; width:100%; margin-bottom:20px;}
	.advertise img{width:100%;}
	.overview p.our-price span{float:left; width:100%;}
	.overview{float:left; width:100%; margin-bottom:0}
	.desk-desc{display:none;}
	.mobile-desc{display:block;}	
	.swatches ul li a{margin-bottom:10px;}
	.center-1{margin-bottom:0px;}
}
@media (min-width:100px) and (max-width:1200px) {
	.discount-coupon img{width:100%;}
	.discount-coupon{margin-bottom:20px;}
	.news-section{padding:0}
	.follow-us{margin-top:20px;}
	.testimonial .tetstimonial-sec{width:100%; padding:0; margin-left:0; margin-bottom:30px; float:left !important} 
}
@media (min-width:100px) and (max-width:520px) {
.swatches ul li a {margin-bottom: 10px; width: 50px;}
.swatches ul li a img{width:100%;}
.swatches ul li:first-child a:first-child{margin-left:5px;}
.picture-thumbs{margin-bottom:20px;}
.desc ul li{text-align:left;}
}
@media (min-width:100px) and (max-width:800px) {
 .overview{float:left; width:100%; margin-bottom:0}
 .center-1{margin-bottom:0px;}
 .desc ul li{text-align:left;}
 .desc .table-condensed>tbody>tr>td:first-child{text-align:left;}
 .advertise img{width:100%;}
 .section.three-sec{margin-bottom:20px;}
 .main-nav ul li a{padding:10px;}
 .header-upper{padding-bottom:0}
 .breadcrumb{margin-bottom:0;}
 .product-details-page{padding:0;}
}

@media (min-width:768px) and (max-width:1000px) {
 .modal-dialog {width:94%; margin:30px auto; max-width:1000px}
}