<ion-header>
  <ion-toolbar>
    <ion-title>miles-tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-bar">
    <input type="search" name="" class="miles-search" placeholder="Enter your destination" id="">
  </div>
  <div class="w-100 float-left miles-list">
    <h3 class="col-md-12 float-left">Trip Detail</h3>
    <div class="accordion" id="accordionExample">
      
      <div class="card">
        <div class="card-header" id="headingOne"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h2 class="mb-0">
            <p>Atlanta - Georgia</p>
            <span>Trip Date : 30/07/2021</span>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <table>
              <tr>
                <th>Districts Name</th>
                <th>Distance</th>
              </tr>
              <tr>
                <td>Atlanta - Georgia</td>
                <td>250 miles</td>
              </tr>
              <tr>
                <td>Baltimore - Maryland</td>
                <td>1250 miles</td>
              </tr>
              <tr>
                <td>Birmingham- Alabama</td>
                <td>50 miles</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h2 class="mb-0">
            <p>Atlanta - Georgia</p>
            <span>Trip Date : 30/07/2021</span>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">

            <table>
              <tr>
                <th>Districts Name</th>
                <th>Distance</th>
              </tr>
              <tr>
                <td>Atlanta - Georgia</td>
                <td>250 miles</td>
              </tr>
              <tr>
                <td>Baltimore - Maryland</td>
                <td>1250 miles</td>
              </tr>
              <tr>
                <td>Birmingham- Alabama</td>
                <td>50 miles</td>
              </tr>
            </table>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h2 class="mb-0">
            <p>Atlanta - Georgia</p>
            <span>Trip Date : 30/07/2021</span>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

          <div class="card-body">
            <table>
              <tr>
                <th>Districts Name</th>
                <th>Distance</th>
              </tr>
              <tr>
                <td>Atlanta - Georgia</td>
                <td>250 miles</td>
              </tr>
              <tr>
                <td>Baltimore - Maryland</td>
                <td>1250 miles</td>
              </tr>
              <tr>
                <td>Birmingham- Alabama</td>
                <td>50 miles</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>