@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
header {
	padding: 14px 0;
	background: #005cb7;
}
header .logo {
	margin-top: 10px;
	float: left;
}
header a {
	float: left;
}
header h2 {
	line-height: 36px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	margin: 0;
	text-align: center;
	text-shadow: 1px 0px 3px #000000;
}
.navbar {
	margin-top: 10px;
	background: #0067cf; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjdjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDM5NzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #0067cf 0%, #003971 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0067cf), color-stop(100%, #003971)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0067cf 0%, #003971 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0067cf 0%, #003971 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0067cf 0%, #003971 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0067cf 0%, #003971 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067cf', endColorstr='#003971', GradientType=0 ); /* IE6-8 */
	border-radius: 10px;
}
.navbar-collapse.collapse {
	padding: 0;
	border-radius: 10px;
}
.nav li.first-radius a {
	border-radius: 10px 0 0 10px;
}
.nav li.last-radius a {
	background: none;
}
header div {
	float: left;
}
.navbar .navbar-toggle h6 {
	display: inline-block;
	text-indent: 40px;
	margin: 0px;
	font-size: 16px;
	padding: 0px;
	color: #fff;
	float: left;
}
.form-container {
	-moz-box-shadow: 0px 0px 5px #c3c3c3;
	-webkit-box-shadow: 0px 0px 5px #c3c3c3;
	box-shadow: 0px 0px 5px #c3c3c3;
	border: solid 1px #c3c3c3;
}
.heading {
	background: #003366;
	width: 100%;
	float: left;
	color: #fff;
	font-size: 21px;
	padding: 0 15px;
	line-height: 47px;
	height: 47px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}
footer {
	float: left;
	width: 100%;
	padding: 30px 0;
	background: #005cb7;
	margin-top: 50px;
}
.col-lg-12.form-container {
	padding: 0 0 15px;
}
footer p {
	float: left;
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: normal;
}
footer p a {
	color: #fff
}
footer p a:hover {
	color: #fff;
	text-decoration: underline;
}
.date select {
	margin-right: 15px;
}
.no-mar fieldset {
	padding-right: 0;
	padding-left: 0;
	margin-right: 10px;
}
.check-box {
	float: left;
}
.buttons {
	margin: 20px 0;
	float: left
}
.buttons button {
	margin-right: 15px;
	padding: 8px 30px;
}
.no-mar {
	float: left;
}
.col-lg-6 > fieldset {
	float: left;
}
.body{background:url(images/banner-1.jpg) top center no-repeat; background-size:100%}
header.opacity{background:url(images/header-trans.png) left top repeat;}
.banner1{max-height:700px; border-bottom:solid 2px #003366;}
.banner1 .col-lg-10{background:url(images/transparency.png) left top repeat; color:#fff; font-family: 'Oswald', sans-serif; font-weight:300; font-size:23px; line-height:43px; margin-top:8%; padding:30px 40px 35px; border-radius:8px; text-align:center; margin-bottom:15.5%; text-transform:uppercase}
.banner2{background:url(images/banner-2.jpg) top center no-repeat; border-bottom:solid 2px #003366; background-size:1500px;}
.banner2 .col-lg-10{color:#424242; font-family: 'Agency FB', sans-serif; font-weight:300; font-size:32px; line-height:45px;padding:30px 40px 35px; border-radius:8px; text-align:center; margin-bottom:1.9%; text-transform:uppercase}
.banner2 .col-lg-10 ul, .banner4 .col-lg-10 ul{margin-left: 15%; text-align: left; width: 540px;}
.banner2 .col-lg-10 ul li, .banner4 .col-lg-10 ul li{float:left; font-size:16px; font-family: 'Roboto', sans-serif; text-transform:none; background:url(images/red-arrow.png) left 7px no-repeat; list-style:none; padding-left:27px; line-height:normal; font-weight:400; margin-bottom:6px;}
.banner2 .col-lg-10 ul li a{display:inline-block; color:#eb1e25; text-decoration:underline;}
.banner3{background:url(images/banner-3.jpg) top center no-repeat; border-bottom:solid 2px #003366; height:464px; background-size:1500px;}
.banner3 h2{float:left; text-align:center; font-family: 'Agency FB', sans-serif; font-size:60px; text-align:center; color:#fff; width:100%; margin-top:8%;}
.banner3 .col-lg-10{background:url(images/transparency.png) left top repeat; color:#fff; font-family: 'Agency FB', sans-serif; font-weight:300; font-size:32px; line-height:43px; margin-top:3%; padding:30px 40px 35px; border-radius:8px; text-align:center; margin-bottom:8.5%; text-transform:uppercase; text-transform:none}
.banner4{background:url(images/banner-4.jpg) top center no-repeat; border-bottom:solid 2px #003366; height:462px; background-size:1500px;}
.banner4 .col-lg-10{color:#424242; font-family: 'Agency FB', sans-serif; font-weight:300; font-size:32px; line-height:45px;padding:30px 40px 35px; border-radius:8px; text-align:center; margin-bottom:1.9%; text-transform:uppercase}
.body footeR{margin-top:0}
.money{position:absolute; top:0; right:0; background:url(images/moneyback.png) left top no-repeat; background-size:100% 100%; height:129px; width:168px;}
@media screen and (max-width:1024px){}
@media screen and (max-width:768px){}
@media screen and (max-width:600px){}
@media screen and (max-width:568px){}
@media screen and (max-width:480px){}
@media screen and (max-width:384px){}
@media screen and (max-width:320px){
	.money{width:100px; height:83px;}
	.banner1 .col-lg-10{margin-top:1%; line-height:25px; font-size:18px; padding:20px 10px 25px; margin-bottom:8.5%}
	.banner1 .col-lg-1, .banner4 .col-lg-1, .banner3 .col-lg-1, .banner2 .col-lg-1{display:none;}
	.navbar.navbar-default{margin-bottom:10px;}
	}
@media screen and (max-width:240px){}

/*--------------- FAQ page ----------------*/
.accordian {width: 100%; float:left;}
.accordian ul{margin:0; padding:0;}
.accordian li {list-style-type: none; padding: 10px; font:smaller; width:95%; margin:10px 0; line-height:22px;}
.accordian .dimension {max-height:1400px; padding:10px}	
.even, .odd {font-weight: bold;  padding-top: 3px; padding-left: 10px; }
.even, .odd{border: 1px solid #d8d8d8; background-color: #ececec;}
#signin{margin:30px;}
.banner4 h3{font-size:40px; font-weight:bold; }