 <ion-content class="user-profile">
    <!-- profile pic starts --> 
          <ion-card class="profile-pic">
            <div class="profile-image">
              <a><img width="15" src="assets/images/profile-pic.jpg" alt="" srcset="" /> 
                <span class="edit"><img src="assets/images/edit.png" alt="" srcset=""></span>
              </a>
            </div>
          <ion-card-header>
            <ion-card-title> Hi, Zimmi</ion-card-title>
            <ion-card-content>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</ion-card-content>
          </ion-card-header>
          </ion-card>
        
           <div class="user-info">
             <table>
               <tr>
                 <td>Email id</td>
                 <td>info@papadrive.com</td>
               </tr>
               <tr>
                 <td>Mobile No</td>
                 <td>+1-202-555-0143</td>
               </tr>
               <tr>
                 <td>DOB</td>
                 <td>12 - 04 - 1999</td>
               </tr>
               <tr>
                 <td>Address</td>
                 <td>2299  Oak Street Old 
                  Forge, New York, USA</td>
               </tr>
               <tr>
                 <td>Pincode</td>
                 <td>10005</td>
               </tr>
               <tr>
                 <td>Interest</td>
                 <td>Book Reading, Listening
                  Music</td>
               </tr>
             </table>
           </div>
    
    <!-- profile pic finish -->
</ion-content>
