<ion-content>
  <div class="login">
    <p class="text-center ion-margin-bottom"><a href="#"><img src="../../assets/Logo.png" alt="" srcset=""></a></p>
    <h1 class="page-heading mb35">Login</h1>

    <div class="col-md-12">
      <ion-row class="row mb25">
        <ion-input placeholder="Email address"></ion-input>
      </ion-row>
      <ion-row class="row mb25">
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-row>

      <ion-row class="row">
        <ion-button expand="block" shape="round">Login</ion-button>
      </ion-row>

        <ion-grid class="login-option">
          <ion-row>
            <ion-col> 
              Create Account
            </ion-col>
            <ion-col> 
                Forgot Password
            </ion-col>

          </ion-row>
        </ion-grid>

      <p class="or">OR</p>


      <ion-grid class="social-login">
        <ion-row>
          <ion-col>

            <img src="../../assets/facebook.svg">

          </ion-col>
          <ion-col>

            <img src="../../assets/google.svg">

          </ion-col>

        </ion-row>
      </ion-grid>


    </div>
  </div>
</ion-content>