
<ion-content>

  <div class="splash">
    <div class="vertical-center">
        <div class="center-container">
            <!-- logo section starts -->
            <div class="logo">
                <img src="assets/images/Logo.png" alt="">
            </div>
            <!-- logo section finish -->
            <!-- slider section starts -->
            <div id="spalshSlider"  class="splash-slider carousel slide" data-ride="carousel">
                <a class="skip" [routerLink]="['/get-started']">Skip</a>
                <ion-route class="skip" > Skip</ion-route>
                <ol class="carousel-indicators">
                  <li data-target="#spalshSlider" data-slide-to="0" class="active"></li>
                  <li data-target="#spalshSlider" data-slide-to="1"></li>
                  <li data-target="#spalshSlider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p>Effective way to Managing  Documents / Expenses</p>
                  </div>
                  <div class="carousel-item">
                    <p>Effective way to Managing  Documents / Expenses</p>
                  </div>
                  <div class="carousel-item">
                    <p>Effective way to Managing  Documents / Expenses</p>
                  </div>
                </div> 
              </div>
              <!-- slider section finish -->
        </div>
    </div>
</div>

</ion-content>
