<ion-header class="ion-text-center">
  <ion-toolbar>
    <img src="../../assets/logo-with-text.png" alt="" srcset="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="feedback">
     
    <h1 class="page-heading mb35">Leave Feedback </h1>
    <p>Please submit your valueable feedback to us. Our concern team will back to you shrtly and work as per your feedback</p>
    <div class="col-md-12">
      <ion-row class="row mb25">
        <ion-input placeholder="Full Name"></ion-input>
      </ion-row>

      <ion-row class="row mb25">
        <ion-input type="email" placeholder="Email Id"></ion-input>
      </ion-row>

      
      <ion-row class="row mb25">
        <ion-input placeholder="Subject"></ion-input>
      </ion-row>

      <ion-row class="row mb25">
        <ion-textarea placeholder="Your Feedback" clearOnEdit="true"></ion-textarea>
      </ion-row>
      

       

      <ion-row class="row">
        <ion-button expand="block" shape="round">Submit</ion-button>
      </ion-row> 

    </div>
  </div>
</ion-content>