@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@viewport{width:device-width;}
/*
     FILE ARCHIVED ON 05:42:50 Aug 18, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:54:11 Apr 11, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 51.361 (3)
  esindex: 0.01
  captures_list: 69.996
  CDXLines.iter: 12.243 (3)
  PetaboxLoader3.datanode: 36.16 (4)
  exclusion.robots: 0.191
  exclusion.robots.policy: 0.178
  RedisCDXSource: 3.181
  PetaboxLoader3.resolve: 56.486 (2)
  load_resource: 82.145
*/