<ion-header class="ion-text-center">
  <ion-toolbar>
    <img src="../../assets/logo-with-text.png" alt="" srcset="">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" name="Tab 1 page">
  <ion-grid class="slider">
    <ion-row>
      <!-- main banner section starts -->
      <ion-slides pager="true"  class="main-Banner" [options]="slideOpts">
        <ion-slide>
          <ion-img src="assets/banner.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="assets/banner.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="assets/banner.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="assets/banner.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="assets/banner.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="assets/banner.png"></ion-img>
        </ion-slide>
      </ion-slides> 
      <!-- main banner section starts -->
    </ion-row>
  </ion-grid>

  <!-- recently added audio book section starts -->
  <ion-grid>
    <ion-row>
      <h2 class="section-heading">Recently Added <span>All </span></h2>
       
          <div class="audio-listing">
            <div class="listing-item">
              <span><img src="../../assets/thumb-1.png" alt="" srcset=""></span>
              <h5>Sikh Rajneeti</h5>
              <div class="information">
                <span>26 Songs</span> <i>13.1w </i>
              </div>
            </div>

            <div class="listing-item">
              <span><img src="../../assets/thumb-1.png" alt="" srcset=""></span>
              <h5>Sikh Rajneeti</h5>
              <div class="information">
                <span>26 Songs</span> <i>13.1w </i>
              </div>
            </div>

            <div class="listing-item">
              <span><img src="../../assets/thumb-1.png" alt="" srcset=""></span>
              <h5>Sikh Rajneeti</h5>
              <div class="information">
                <span>26 Songs</span> <i>13.1w </i>
              </div>
            </div>

            <div class="listing-item">
              <span><img src="../../assets/thumb-2.png" alt="" srcset=""></span>
              <h5>Sikh Rajneeti</h5>
              <div class="information">
                <span>26 Songs</span> <i>13.1w </i>
              </div>
            </div>
          </div> 
    </ion-row> 
  </ion-grid>
  <!-- recently added audio book section finish -->


  <!-- Coming soon audio book section starts -->
  <ion-grid class="mt40">
    <ion-row>
      <h2 class="section-heading">Coming Soon <span>All </span></h2>
      
          <div class="audio-listing">
            <div class="listing-item">
              <span><img src="../../assets/thumb-3.png" alt="" srcset=""></span>
              <h5>Sikh Rajneeti</h5>
              <div class="information">
                <span>26 Songs</span> <i>13.1w </i>
              </div>
            </div>

            <div class="listing-item">
              <span><img src="../../assets/thumb-4.png" alt="" srcset=""></span>
              <h5>Sikh Rajneeti</h5>
              <div class="information">
                <span>26 Songs</span> <i>13.1w </i>
              </div>
            </div>
          </div>
        </ion-row>
      </ion-grid>
      <!-- Coming soon audio book section finish -->
</ion-content>