<ion-content [fullscreen]="true">
  <!-- header section starts -->
  <ion-header class="ion-text-center">
    <ion-toolbar>
      <img src="../../assets/logo-with-text.png" alt="" srcset="">
    </ion-toolbar>
  </ion-header>
  <!-- header section finish -->

  <!-- main banner section starts -->

  <ion-grid class="main-banner">
    <ion-row>
      <div class="innerBanner">
        <img src="assets/banner.png" alt="" srcset="">
      </div>
    </ion-row>
  </ion-grid>
  <!-- main banner section finish -->

  <!-- audio book detail section starts -->
  <ion-grid class="album-detail">
    <ion-row>
      <h4 class="section-heading">Nanak Chinta Mat Karhu</h4>
      <div class="information">
        <span class="author">Hazur Ragi</span> <span class="time">10m 03s</span>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>

    </ion-row>
  </ion-grid>
  <!-- audio book detail section finish -->

  <!-- track list section start -->
  <ion-grid class="track-list">
    <ion-row>

      <h5 class="section-heading">Track List</h5>
      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">
          <!-- <span class="play-btn">
          <img src="../../assets/list-pause.svg" alt="" srcset="">
        </span> -->
          <span class="play-btn">
            <img src="../../assets/list-play.svg" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/list-add.svg" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/list-download.svg" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">
          <!-- <span class="play-btn">
          <img src="../../assets/list-pause.svg" alt="" srcset="">
        </span> -->
          <span class="play-btn">
            <img src="../../assets/list-play.svg" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/list-add.svg" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/list-download.svg" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">
          <!-- <span class="play-btn">
          <img src="../../assets/list-pause.svg" alt="" srcset="">
        </span> -->
          <span class="play-btn">
            <img src="../../assets/list-play.svg" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/list-add.svg" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/list-download.svg" alt="" srcset="">
          </span>
        </div>
      </div>

      <div class="audio-list">
        <div class="album-info">
          <span><img src="../../assets/list-image.png" alt="" srcset=""></span>
          <h5>Hazur Ragi</h5>
          <p>2m 10s</p>
        </div>
        <div class="action-button">
          <!-- <span class="play-btn">
          <img src="../../assets/list-pause.svg" alt="" srcset="">
        </span> -->
          <span class="play-btn">
            <img src="../../assets/list-play.svg" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/list-add.svg" alt="" srcset="">
          </span>
          <span class="play-btn">
            <img src="../../assets/list-download.svg" alt="" srcset="">
          </span>
        </div>
      </div>
    </ion-row>
  </ion-grid>

  <!-- track list section finish -->
</ion-content>