main {
    &[role=myProfile] {
        background: #F9F9F9;

        .myProfile {
            @include fullwidth();

            .profileLeft {
                @include fullwidth();
                border-right: solid 1px #DAD7D7;

                @media #{$sm} {
                    border: 0;
                } 

                .profile-image {
                    display: block;
                    text-align: center;
                    @include fullwidth();

                    em {
                        width: 215px;
                        height: 215px;
                        position: relative;
                        display: inline-block;
                        overflow: hidden;

                        img {
                            width: 215px;
                            height: 215px;
                            object-fit: cover;
                            border-radius: 50%
                        }

                        .image-edit {
                            border-radius: 50%;
                            width: 215px;
                            height: 215px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: rgba($color: #000000, $alpha: 0.3);
                            line-height: 215px;
                            transition: all ease-in-out .3s; 
                            display: none;
                            i {
                                color: $white;
                            }

                        }

                        &:hover {
                            .image-edit { 
                                display: block;
                                border-radius: 50%;
                                
                            }
                        }
                    }
                }

                h3 {
                    @include fullwidth();
                    text-align: center;
                    color: $primary;
                    font-size: 19px;
                    font-family: $openbd;
                    text-transform: uppercase;
                    margin-top: 15px;
                }

                .profileNavigation {
                    width: 100%;
                    margin: 50px 0;
                    list-style: none;
                    padding: 0;
                    display: inline-block;
                    // max-width: 300px;

                    @media #{$lg} {
                        max-width: 100%;
                        margin: 30px 0;
                    }

                    @media #{$md} {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        column-gap: 15;
                        max-width: 100%;
                        margin: 30px 0;
                    }


                    li {
                        @include fullwidth();
                        background: #00ADEF;
                        margin-bottom: 10px;
                        transition: background .3s ease-in-out;

                        @media #{$md} {
                            // flex-wrap: wrap;
                            flex-grow: 1;
                            flex-basis: 50%;
                        }

                        @media #{$xs} {
                            // flex-wrap: wrap;
                            flex-grow: 1;
                            flex-basis: 100%;
                        }

                        a {
                            color: $white;
                            font-size: 16px;
                            font-family: $open;
                            padding: 15px;
                            @include fullwidth();
                            text-decoration: none;

                            span {
                                margin-right: 8px;
                                float: left;
                            }
                        }

                        &.active,
                        &:hover {
                            background: $primary;
                        }

                    }
                }
            }

            .profile-form {
                padding: 0 20px;

                @media #{$sm} {
                    padding: 0;
                }

                h2 {
                    @include fullwidth();
                    color: #1F2239;
                    font-family: "Open bd";
                    font-size: 26px;
                    text-transform: uppercase;
                    margin-bottom: 20px;

                    @media #{$lg} {
                        font-size: 24px;
                    }

                    @media #{$md} {
                        font-size: 22px;
                    }

                    @media #{$sm} {
                        font-size: 20px;
                    }

                    @media #{$xs} {
                        font-size: 18px;
                    }

                }

                .form-group {
                    margin-bottom: 30px;

                    @media #{$sm} {
                        margin-bottom: 15px;
                    }

                    label {
                        font-size: 18px;
                        font-family: $opensb;
                        @include fullwidth();

                        @media #{$sm} {
                            font-size: 15px;
                        }
                    }

                    .form-control {
                        border: solid 1px #CFCFCF;
                        color: #252C49;
                        border-radius: 0;
                        height: auto;
                        padding: 15px 30px;

                        @media #{$sm} {
                            padding: 7px 20px;
                        }
                    }

                    button {
                        border-radius: 30px;
                        background: #00ADEF;
                        padding: 10px 40px;
                        border: 0;
                        font-family: $openbd;
                        text-transform: uppercase;

                        &:hover {
                            background: $primary;

                        }
                    }

                }
            }
        }
    }
}